force-app/main/default/flows/Lead_After_Create_Update_Set_Public_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_UUID</name>
        <label>Generate UUID</label>
        <locationX>1025</locationX>
        <locationY>371</locationY>
        <actionName>SingleRecordUUIDInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Experience_Site</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SingleRecordUUIDInvocable</nameSegment>
        <outputParameters>
            <assignToReference>uuid</assignToReference>
            <name>generatedUUID</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <description>This version looks up the friendly name/Link text and appends it to the unsubscribe link that is set on the lead.</description>
    <environments>Default</environments>
    <interviewLabel>Lead || After Create/Update || Set Public Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead || After Create/Update || Set Public Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Experience Site for Unsubscribe Link</description>
        <name>Get_Experience_Site</name>
        <label>Get Experience Site</label>
        <locationX>1025</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_My_Domain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unsubscribe</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_My_Domain</name>
        <label>Get My Domain</label>
        <locationX>752</locationX>
        <locationY>691</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unsubscribe_Link_Setup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SiteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Experience_Site.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DomainSite</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get setup record to find friendly name of URL.</description>
        <name>Get_Unsubscribe_Link_Setup</name>
        <label>Get Unsubscribe Link Setup</label>
        <locationX>881</locationX>
        <locationY>766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_Lead</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unsubscribe_Link_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Lead</name>
        <label>Update the Lead</label>
        <locationX>1043</locationX>
        <locationY>707</locationY>
        <inputAssignments>
            <field>Public_Id__c</field>
            <value>
                <elementReference>uuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part1_Unsubscribe_Link__c</field>
            <value>
                <elementReference>txt_UnsubscribeLinkURL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>899</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Generate_UUID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Public_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>txt_UnsubscribeLinkURL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>https://{!Get_My_Domain.Domain.Domain}/Unsubscribe/s/unsubscribe?varRecId=L{!uuid}+{!Get_Unsubscribe_Link_Setup.Link_Text__c}</text>
    </textTemplates>
    <variables>
        <name>uuid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
