force-app/main/default/flows/recordIdBlankFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>1563</locationX>
        <locationY>574</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ErrorRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error in Flow &quot;unsubscribe Link No record Id&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>errorBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assign variables to the email variable from the screen and assign a null value to the recordId variable.</description>
        <name>AssignEmailFromScreenToVar</name>
        <label>AssignEmailFromScreenToVar</label>
        <locationX>642</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emailaddressscreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign value to error message that is emailed to the error email recipient.</description>
        <name>ErrorMessageAssignment1_0</name>
        <label>No Record Found</label>
        <locationX>1167</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>They tried to look up their email address but no record was found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Something_went_wrong_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign value to error message that is emailed to the error email recipient.</description>
        <name>ErrorMessageAssignment1_0_0</name>
        <label>No Record Found</label>
        <locationX>1125</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>An error occurred when the flow tried to look up the contact record based on this email address.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Something_went_wrong_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign value to error message that is emailed to the error email recipient.</description>
        <name>ErrorMessageAssignment1_0_0_0</name>
        <label>No Record Found</label>
        <locationX>982</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>An error occurred when the flow tried to look up the lead record based on this email address.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Something_went_wrong_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If the contact isn&apos;t found, it sets the email variable to null. If the contact was found, the sub flow goes back to the main flow.</description>
        <name>reassignEmail</name>
        <label>ReassignEmail</label>
        <locationX>640</locationX>
        <locationY>826</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emailaddressscreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Lead_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Was the contact found when looking it up via email?</description>
        <name>Contact_or_Lead_0_0</name>
        <label>Was Contact Found</label>
        <locationX>634</locationX>
        <locationY>634</locationY>
        <defaultConnector>
            <targetReference>reassignEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record Found</defaultConnectorLabel>
        <rules>
            <name>Contact_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <label>ContactFound</label>
        </rules>
    </decisions>
    <decisions>
        <description>after searching based on the email address, was a record found?</description>
        <name>wasLeadFound</name>
        <label>Lead Found?</label>
        <locationX>1005</locationX>
        <locationY>1002</locationY>
        <defaultConnector>
            <targetReference>ErrorMessageAssignment1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record Found</defaultConnectorLabel>
        <rules>
            <name>LeadFound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FoundId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <label>Lead Found</label>
        </rules>
    </decisions>
    <description>Part of Unsubscribe Link package from AppExchange 4/4</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula resolves to Contact Id if the unsubscribe record is attached to a contact - the original record of the unsubscribe link was a contact.</description>
        <name>useContactId</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!FoundId},&quot;003&quot;),{!FoundId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Formula resolves to Lead Id if the unsubscribe record is attached to a Lead - the original record of the unsubscribe link was a lead.</description>
        <name>UseLeadId</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!FoundId},&quot;00Q&quot;),{!FoundId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>18 digit id of the record. The email template only sends the 15 digit id.</description>
        <name>x18DigitID</name>
        <dataType>String</dataType>
        <expression>Casesafeid({!recordId})</expression>
    </formulas>
    <interviewLabel>Unsubscribe Link No RecordId {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Unsubscribe Link No RecordId</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Look for a contact record with email address from the screen.</description>
        <name>Get_Contact_0</name>
        <label>Get Contact</label>
        <locationX>642</locationX>
        <locationY>487</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_or_Lead_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessageAssignment1_0_0</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Look for a lead record email address from screen.</description>
        <name>Get_Lead_0</name>
        <label>Get Lead</label>
        <locationX>646</locationX>
        <locationY>1000</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>wasLeadFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessageAssignment1_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>confirmation screen for person to confirm they want to unsubscribe. Update &quot;our organization&quot; in the custom metadata type &quot;Unsubscribe Link.&quot;
This screen will appear if a matching record is not found in the database.</description>
        <name>Are_you_sure_0</name>
        <label>NoRecordsScreen</label>
        <locationX>642</locationX>
        <locationY>171</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignEmailFromScreenToVar</targetReference>
        </connector>
        <fields>
            <name>confirmation_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;{!ourOrganization}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Are_you_sure_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Are_you_sure_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Emailaddressscreen</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Are_you_sure_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Are_you_sure_0_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Generic error message</description>
        <name>Something_went_wrong_0_0_0</name>
        <label>Generic Error Message</label>
        <locationX>1506</locationX>
        <locationY>347</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <fields>
            <name>wentwrong_0_0_0</name>
            <fieldText>&lt;p&gt;Sorry, but we were not able to unsubscribe you at this time, but we have been alerted about the problem.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>685</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Are_you_sure_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Email sent to administrator(s) when the Flow experiences an error.</description>
        <name>errorBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Alert: there was an error in running the Flow Unsubscribe Link Blank or &lt;/span&gt;UnsubscribeLinkBlank.&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; This flow is part of the unmanaged package Unsubscribe Link from the AppExchange.  https://wp.me/p9qPLI-eU.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!errorTextVar}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Here are the variables that were input from the link in the email. &lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;recordId (the id passed in the URL)= {!recordId}, &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;The email entered by the recipient was: {!Emailaddressscreen}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;About this email: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;To modify this error email, open the Flow and edit the text template called &lt;strong&gt;errorBody&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To modify who receives this email, open the custom metadata type called Unsubscribe Link and the record with Label of &quot;Unsubscribe.&quot; Change the value in &lt;strong&gt;Error Email Recipients. &lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Update default below to user who should be alerted when this error occurs.</description>
        <name>ErrorRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Error message to send to error email recipient.</description>
        <name>errorTextVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error in your custom metadata type of Unsubscribe_cmdt. Needs a label of Unsubscribe. </stringValue>
        </value>
    </variables>
    <variables>
        <name>FoundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>id of the lead record from the unsubscribe link</description>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ourOrganization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>userId incoming from the email link</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
