force-app/main/default/flows/Unsubscribe_Link_Setup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ContactsOnlyBatch</name>
        <label>ContactsOnlyBatch</label>
        <locationX>543</locationX>
        <locationY>1867</locationY>
        <actionName>generateAllRandomStrings</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>completeScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>generateAllRandomStrings</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Update the custom metadata used in the Unsubscribe Link Process.</description>
        <name>Unsubscribe_Link</name>
        <label>Unsubscribe Link</label>
        <locationX>630</locationX>
        <locationY>1754</locationY>
        <actionName>unsubscribeInvocableMethod</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Public_Ids</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordPassed</name>
            <value>
                <elementReference>Get_CMDT</elementReference>
            </value>
        </inputParameters>
        <nameSegment>unsubscribeInvocableMethod</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Value</name>
        <label>Assign Value</label>
        <locationX>630</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>Get_CMDT.Confirmation_Email_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfirmEmailText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.Error_Email_Recipients__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorEmailList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.Our_Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrganizationNameFINAL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.type_in_Unsubscribe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>type_in_unsubscribe</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.Org_Wide_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrgWideEmailQ</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.Send_Confirmation_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>confirmEmailQ</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.Site_Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>my_domain.Domain.Domain</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailModifyScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_0</name>
        <label>Assign Value</label>
        <locationX>630</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>Get_CMDT.Screen_1_Part_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ModifyScreen1Part2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.Screen_2_Part_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ModifyScreen2Part1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.Screen_2_Part_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ModifyScreen2Part2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.Screen_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ModifyScreen3Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.Screen_1_Part_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ModifyScreen1Part1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.Link_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LinkText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.One_Click__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnableOneClickFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unsubscribe_Link</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Confirmation_EmailSend</name>
        <label>Send Confirmation Email?</label>
        <locationX>630</locationX>
        <locationY>1346</locationY>
        <defaultConnector>
            <targetReference>Assign_Value_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmEmailQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationEmailPreviewScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IncludeScreen3Decision</name>
        <label>IncludeScreen3</label>
        <locationX>630</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>Confirmation_EmailSend</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Screen 3</defaultConnectorLabel>
        <rules>
            <name>IncludeScreen3Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type_in_unsubscribe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen3PreviewScreen</targetReference>
            </connector>
            <label>IncludeScreen3</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>orgWideEmails</name>
        <dataType>String</dataType>
        <displayField>DisplayName</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>IsVerified</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UserSelectionAndDefaultNoReply</stringValue>
            </value>
        </filters>
        <object>OrgWideEmailAddress</object>
        <outputAssignments>
            <assignToReference>orgWideEmailDisplayName</assignToReference>
            <field>DisplayName</field>
        </outputAssignments>
        <valueField>Address</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Use currentUser or existing CMDT type value</description>
        <name>currentUserOrExisting</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_CMDT.Error_Email_Recipients__c}),{!$User.Email},{!Get_CMDT.Error_Email_Recipients__c})</expression>
    </formulas>
    <formulas>
        <description>The question asks &quot;Do you want to include this confirmation page?&quot; The field says &quot;do you want to enable one click?&quot; so the answers need to be reversed.</description>
        <name>EnableOneClickFormula</name>
        <dataType>String</dataType>
        <expression>IF({!EnableOneClick}=&apos;Yes&apos;, &apos;No&apos;, &apos;Yes&apos;)</expression>
    </formulas>
    <formulas>
        <name>LinkTextFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_CMDT.Link_Text__c}=null, &apos;Click here to unsubscribe from all email from &apos; + {!OrganizationNameFINAL} + &apos;.&apos;, {!Get_CMDT.Link_Text__c})</expression>
    </formulas>
    <formulas>
        <name>screen1part2Formula</name>
        <dataType>String</dataType>
        <expression>IF(OR({!Get_CMDT.Screen_1_Part_2__c}=&quot;from all emails from our organization, click NEXT.&quot;,{!Get_CMDT.Screen_1_Part_2__c}=null),&quot;from all emails from &quot; + {!Get_CMDT.Our_Organization__c}+ &quot;, click NEXT.&quot;, {!Get_CMDT.Screen_1_Part_2__c})</expression>
    </formulas>
    <formulas>
        <name>screen2part2formula</name>
        <dataType>String</dataType>
        <expression>IF({!confirmEmailQ}=&apos;Yes&apos;,&apos;You will receive a confirmation email shortly.&apos;,&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Unsubscribe Link Setup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unsubscribe Link Setup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CMDT</name>
        <label>Get CMDT</label>
        <locationX>630</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Experience_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unsubscribe</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unsubscribe_Link__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Experience_Site</name>
        <label>Get Experience Site</label>
        <locationX>630</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>my_domain</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>my_domain</name>
        <label>my domain</label>
        <locationX>630</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Up_Unsubscribe_Link_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SiteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Experience_Site.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DomainSite</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Leads</name>
        <label>Leads</label>
        <locationX>171</locationX>
        <locationY>668</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Public_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Public_Id__c</field>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Public_Id</name>
        <label>Remove Public Id</label>
        <locationX>70</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Public_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Public_Id__c</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>completeScreen</name>
        <label>completeScreen</label>
        <locationX>895</locationX>
        <locationY>1947</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Remove_Public_Id</targetReference>
        </connector>
        <fields>
            <name>DonedisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;You are done!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmationEmailPreviewScreen</name>
        <label>ConfirmationEmailPreviewScreen</label>
        <locationX>488</locationX>
        <locationY>1395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Value_0</targetReference>
        </connector>
        <fields>
            <name>confirmationEmailDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;PREVIEW&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;The email recipient receives an email. &lt;/em&gt;&lt;/p&gt;&lt;p&gt;{!horizontalLine1}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;From: {!orgWideEmailDisplayName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Email body: {!ConfirmEmailText}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Public_Ids</name>
        <label>Create Public Ids</label>
        <locationX>406</locationX>
        <locationY>1762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ContactsOnlyBatch</targetReference>
        </connector>
        <fields>
            <name>displayPublicIds</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Last step&lt;/span&gt;&lt;/p&gt;&lt;p&gt;The Unsubscribe Link uses a 64 digit random id on each contact and lead, called Public_Id__c. &lt;/p&gt;&lt;p&gt;This may take a little while. You will receive an email when it is done. &lt;/p&gt;&lt;p&gt;After this, two record triggered flows will automatically create public ids when new contacts and leads are created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Click next to populate the public ids on all your records now.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EmailModifyScreen</name>
        <label>EmailModifyScreen</label>
        <locationX>630</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen1Preview</targetReference>
        </connector>
        <fields>
            <name>SampleEmailDisplayText_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;PREVIEW&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Your email recipient gets an email like this with an unsubscribe link at the bottom. &lt;/em&gt;&lt;/p&gt;&lt;p&gt;{!horizontalLine1}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Dear Friend,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;It&apos;s Thursday! You love to order a pizza on Thursdays! If you order before 5, I&apos;ll also throw in some free drinks!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Your friend,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Bob&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 20px; color: rgb(0, 43, 255);&quot;&gt;{!Get_CMDT.Link_Text__c}&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayTextforHorizontalLine</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!horizontalLine1}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LinkText</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CMDT.Link_Text__c</elementReference>
            </defaultValue>
            <fieldText>You may modify the text of the link here:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1Preview</name>
        <label>Screen1Preview</label>
        <locationX>630</locationX>
        <locationY>830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen2PreviewScreen_0</targetReference>
        </connector>
        <fields>
            <name>Screen1PreviewDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;PREVIEW&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;This page allows the recipient to confirm before opting out. &lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!horizontalLine1}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); font-size: 20px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;﻿&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!Get_CMDT.Screen_1_Part_1__c} georgeB@bbbl.org {!screen1part2Formula}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>googlewarning</name>
            <fieldText>&lt;p&gt;{!horizontalLine1}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://blog.google/products/gmail/gmail-security-authentication-spam-protection/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; font-size: 14px;&quot;&gt;Gmail wants you to make it easier to unsubscribe&lt;/a&gt;&lt;span style=&quot;background-color: transparent; font-size: 14px;&quot;&gt; with &quot;one click&quot; email opt-out so we advise against adding in this page. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EnableOneClick</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CMDT.One_Click__c</elementReference>
            </defaultValue>
            <fieldText>Do you want to include this confirmation page?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen1Preview_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1Preview_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ModifyScreen1Part1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CMDT.Screen_1_Part_1__c</elementReference>
                    </defaultValue>
                    <fieldText>You may modify the text of part 1 here:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1Preview_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ModifyScreen1Part2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>screen1part2Formula</elementReference>
                    </defaultValue>
                    <fieldText>You may modify the text of part 2 here:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1Preview_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EnableOneClick</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2PreviewScreen_0</name>
        <label>Screen2ModifyScreen</label>
        <locationX>630</locationX>
        <locationY>938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IncludeScreen3Decision</targetReference>
        </connector>
        <fields>
            <name>screen2previewDisplayText_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;PREVIEW&lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!horizontalLine1}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!screen2part1TextTemplate} {!screen2part2formula}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayTextHozLine</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!horizontalLine1}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen2PreviewScreen_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen2PreviewScreen_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ModifyScreen2Part1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>screen2part1TextTemplate</elementReference>
                    </defaultValue>
                    <fieldText>You may modify the text here:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen2PreviewScreen_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ModifyScreen2Part2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>screen2part2formula</elementReference>
                    </defaultValue>
                    <fieldText>You may modify the text of part 2 here. It only appears if you turn on the confirmation email.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen3PreviewScreen</name>
        <label>Screen3PreviewScreen</label>
        <locationX>498</locationX>
        <locationY>1154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_EmailSend</targetReference>
        </connector>
        <fields>
            <name>screen3previewDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;PREVIEW&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;If the email recipient&apos;s ID was not found, they can enter their email address here. You can turn off this feature. &lt;/em&gt;&lt;/p&gt;&lt;p&gt;{!horizontalLine1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen3PreviewScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen3PreviewScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen3preview</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!Screen3}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen3PreviewScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RecipientEntersEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>hozline</name>
            <fieldText>&lt;p&gt;{!horizontalLine1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ModifyScreen3Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Screen3</elementReference>
            </defaultValue>
            <fieldText>You can modify the text here:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Up_Unsubscribe_Link_0</name>
        <label>InitialSetUp</label>
        <locationX>630</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Value</targetReference>
        </connector>
        <fields>
            <name>Set_Up_Unsubscribe_Link_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Up_Unsubscribe_Link_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OrganizationNameFINAL</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CMDT.Our_Organization__c</elementReference>
                    </defaultValue>
                    <fieldText>What is your organization or company name?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ErrorEmailList</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>currentUserOrExisting</elementReference>
                    </defaultValue>
                    <fieldText>Enter a comma separated list of emails that should receive alerts when there is an error.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>confirmEmailQ</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CMDT.Send_Confirmation_Email__c</elementReference>
                    </defaultValue>
                    <fieldText>Do you want to send a confirmation email immediately after the email recipient opts out?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ConfirmEmailText</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CMDT.Confirmation_Email_Text__c</elementReference>
                    </defaultValue>
                    <fieldText>What should the email say?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>confirmEmailQ</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OrgWideEmailQ</name>
                    <choiceReferences>orgWideEmails</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CMDT.Org_Wide_Email_Address__c</elementReference>
                    </defaultValue>
                    <fieldText>Choose the organization wide email address that this email will appear to be from.</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>confirmEmailQ</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>orgwideEmailMoreInfo</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://help.salesforce.com/articleView?id=sf.emailadmin_manage_orgwide_email_addresses.htm&amp;amp;type=5&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; color: rgb(17, 85, 204); font-size: 11px;&quot;&gt;&lt;u&gt;Here&apos;s how to set up an org wide email address&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;background-color: transparent; font-size: 11px;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>confirmEmailQ</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Up_Unsubscribe_Link_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OneClickdisplaytext</name>
            <fieldText>&lt;p&gt;{!horizontalLine1}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: transparent;&quot;&gt;The unsubscribe link passes the contact or lead&apos;s Salesforce id to a flow. Sometimes an email recipient&apos;s security settings block or scramble the ID. You can allow your recipients to type in their email addresses to unsubscribe in that situation. BE CAREFUL! This allows anyone who has the link and knows any email addresses in your database to unsubscribe them. For example, if a bad guy knows that joeschmoe@ymail.com loves your newsletters and that bad guy dislikes your organization, then he could potentially unsubscribe Joe Schmoe from your newsletter!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Set_Up_Unsubscribe_Link_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Up_Unsubscribe_Link_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>type_in_unsubscribe</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
                    <fieldText>Allow recipient to type in email</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Up_Unsubscribe_Link_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>GetReadytoPreviewDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!horizontalLine1}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Click &lt;/span&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt;Preview&lt;/em&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; to see the unsubscribe process from the email recipient&apos;s perspective.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Preview</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>504</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_CMDT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>horizontalLine1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;hr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>questionChangeOrgName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Would you like to change &quot;{!orgNameVar}&quot;?</text>
    </textTemplates>
    <textTemplates>
        <name>screen1part2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>from all further email from {!OrganizationNameFINAL}, click NEXT.</text>
    </textTemplates>
    <textTemplates>
        <name>screen2part1TextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have successfully unsubscribed from all email from {!OrganizationNameFINAL}.</text>
    </textTemplates>
    <textTemplates>
        <name>Screen3</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>To unsubscribe from all email from {!OrganizationNameFINAL}, enter your email address and click NEXT.</text>
    </textTemplates>
    <variables>
        <name>orgNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orgWideEmailDisplayName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
