force-app/main/default/flows/Unsubscribe_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send email to administrators alerting them about the error.</description>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>1008</locationX>
        <locationY>174</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>errorEmailRichText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ErrorRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>unsubscribe error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Add the record in the loop to a collection of records to be updated.</description>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>639</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>RecordsUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_List_Size</name>
        <label>Get List Size</label>
        <locationX>809</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>getCListSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contactCollection</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Update record in the loop to Email Opt Out equals true.</description>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>772</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>LoopVar.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <description>Part of the unmanaged packed Unsubscribe Link from Salesforce Labs and loops through all contacts with a particular email address to mark them as email opt out.</description>
    <environments>Default</environments>
    <interviewLabel>Unsubscribe Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Unsubscribe Contacts</label>
    <loops>
        <description>Loop through all contacts with this email address in the Email field.</description>
        <name>loop</name>
        <label>loop</label>
        <locationX>485</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>LoopVar</assignNextValueToReference>
        <collectionReference>contactCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Look for contacts who have this email address as the preferred email and have not opted out of email. NPSP automatically populates the Email field with preferred Email.</description>
        <name>FastLookupEmail</name>
        <label>FastLookupEmail</label>
        <locationX>278</locationX>
        <locationY>548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Unsubscribe</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HasOptedOutOfEmail</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update all Contacts in collection at once as email opt out equals true.</description>
        <name>Update_Collection</name>
        <label>Update Collection</label>
        <locationX>390</locationX>
        <locationY>155</locationY>
        <connector>
            <targetReference>Get_List_Size</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Unsubscribe</targetReference>
        </faultConnector>
        <inputReference>RecordsUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If the Flow faults here, update the unsubscribe record with Error.</description>
        <name>Update_Unsubscribe</name>
        <label>Update Unsubscribe with Error</label>
        <locationX>773</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>Send_Error_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnsubscribeRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Unsubscribe__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>115</locationY>
        <connector>
            <targetReference>FastLookupEmail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>errorEmailRichText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Attempted to unsubscribe this email address &lt;b&gt;{!Email} &lt;/b&gt;but there was an error in the flow &lt;b&gt;UnsubscribeContactsv1&lt;/b&gt;, which looks for all Contacts with this email address and marks them email opt out = true.&quot;&lt;/p&gt;&lt;p&gt;The Flow is part of an unmanaged package called Unsubscribe Link from the App Exchange.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>contactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Update with email address of the user who should be notified when the person who wants to subscribe gets an error.</description>
        <name>ErrorRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>jrymph@salesforce.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>getCListSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>collection of records updated in the process</description>
        <name>RecordsUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UnsubscribeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Unsubscribe__c</objectType>
    </variables>
</Flow>
