force-app/main/default/flows/Unsubscribe_Link_Quick.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Alert the person that they unsubscribed. Turn this off in the custom metadata type Unsubscribe Link.</description>
        <name>ConfirmationEmail</name>
        <label>ConfirmationEmail</label>
        <locationX>578</locationX>
        <locationY>1646</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>screenConfirmationEmail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessageAssignment1_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_custom_metadata.Org_Wide_Email_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Unsubscribe Confirmation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>UnsubscribeEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Error_Alert_Email_0</name>
        <label>Send Error Alert Email</label>
        <locationX>842</locationX>
        <locationY>1862</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Something_went_wrong_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>errorBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_custom_metadata.Error_Email_Recipients__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Unsubscribe Email Error Alert</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assign value to error message that is emailed to the error email recipient.</description>
        <name>ErrorMessageAssignment1</name>
        <label>No Record Found</label>
        <locationX>1634</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No contact or lead found. Make sure the flow is saved to run in System Context without Sharing - Access All Data </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Something_went_wrong_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign value to error message that is emailed to the error email recipient.</description>
        <name>ErrorMessageAssignment1_0</name>
        <label>No Record Found</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No custom metadata type Unsubscribe found with MasterLabel Unsubscribe.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Something_went_wrong_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign value to error message that is emailed to the error email recipient.</description>
        <name>ErrorMessageAssignment1_0_0_0</name>
        <label>Cannot create unsubscribe</label>
        <locationX>1370</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error attempting to create Unsubscribe record. Make sure this flow is saved to run in System Context without Sharing - Access All Data</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Error_Alert_Email_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign value to error message that is emailed to the error email recipient.</description>
        <name>ErrorMessageAssignment1_0_0_0_0</name>
        <label>Cannot send confirmation email</label>
        <locationX>842</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error attempting to send the confirmation email.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Error_Alert_Email_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Can we find the unsubscribe custom metadata type?</description>
        <name>CMDT_Record_Found</name>
        <label>CMDT Record Found</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Contact_or_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CMDT Found</defaultConnectorLabel>
        <rules>
            <name>CMDT_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_custom_metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Something_went_wrong_0_0_0_0</targetReference>
            </connector>
            <label>CMDT not Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was the original email with an unsubscribe link sent to a contact or a lead record? The Unsubscribe Link contains the record id. We need to find whether it is a contact or lead so that the Unsubscribe Record can be properly linked to the record.</description>
        <name>Contact_or_Lead</name>
        <label>Contact or Lead</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Blank_Values_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record Found</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quick_UnsubscribeDecision</name>
        <label>Quick Unsubscribe</label>
        <locationX>842</locationX>
        <locationY>914</locationY>
        <defaultConnector>
            <targetReference>Are_you_sure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Confirm Email</defaultConnectorLabel>
        <rules>
            <name>Quick_Unsubscribe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_custom_metadata.One_Click__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Unsubscribe_Record</targetReference>
            </connector>
            <label>Quick Unsubscribe</label>
        </rules>
    </decisions>
    <decisions>
        <description>The custom metadata type stores the yes/no answer to whether or not you want an email sent to confirm that the person unsubscribed.</description>
        <name>Send_Confirmation_Email</name>
        <label>Send Confirmation Email</label>
        <locationX>842</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>screenConfirmationNoEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, don&apos;t send email</defaultConnectorLabel>
        <rules>
            <name>Yes_send_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_custom_metadata.Send_Confirmation_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationEmail</targetReference>
            </connector>
            <label>Yes, send email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was a record found that is either a lead or a contact? If so proceed to the next screen. 
If not, check if the custom metadata type allows the user to type in their email address.</description>
        <name>Was_a_Record_Found</name>
        <label>Was a Record Found</label>
        <locationX>974</locationX>
        <locationY>698</locationY>
        <defaultConnector>
            <targetReference>ErrorMessageAssignment1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No record found, no type in</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_Found1st</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Quick_UnsubscribeDecision</targetReference>
            </connector>
            <label>RecordFound</label>
        </rules>
        <rules>
            <name>AllowTypeIn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_custom_metadata.type_in_Unsubscribe__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_Values_Flow</targetReference>
            </connector>
            <label>No record found. Allow Type-In</label>
        </rules>
    </decisions>
    <description>First of 4 flows with unsubscribe link package from appExchange.</description>
    <environments>Default</environments>
    <formulas>
        <description>the formula looks to see if the custom metadata type &quot;Unsubscribe Link&quot; has an alternative to &quot;our organization.&quot; If it does, then use that, otherwise use &quot;our organization.&quot; This is used on the &quot;are you sure screen&quot; and the confirmation email.</description>
        <name>OurOrganizationFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_custom_metadata.Our_Organization__c}),&quot;our organization&quot;,{!Get_custom_metadata.Our_Organization__c})</expression>
    </formulas>
    <formulas>
        <description>get the total number of records that had this email address and unsubscribed.</description>
        <name>totalrecordsUnsubscribed</name>
        <dataType>Number</dataType>
        <expression>{!getCListSize}+{!lListsize}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Formula resolves to Contact Id if the unsubscribe record is attached to a contact - the original record of the unsubscribe link was a contact.</description>
        <name>useContactId</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!FoundId},&quot;003&quot;),{!FoundId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Formula resolves to Lead Id if the unsubscribe record is attached to a Lead - the original record of the unsubscribe link was a lead.</description>
        <name>UseLeadId</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!FoundId},&quot;00Q&quot;),{!FoundId},&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Unsubscribe Link Quick {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Unsubscribe Link Quick</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Unsubscribe record which stores details of this transaction.</description>
        <name>Create_Unsubscribe_Record</name>
        <label>Create Unsubscribe Record</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>UnsubscribeId.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Unsubscribe_Contacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessageAssignment1_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>useContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>UseLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Unsubscribed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unsubscribe_Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <object>Unsubscribe__c</object>
    </recordCreates>
    <recordLookups>
        <description>Look for a contact record with ID passed into the flow. Assign the email address to an email variable and the ID to a text variable called FoundId that is passed to other flows.</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_Record_Found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorMessageAssignment1</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Unsubscribe Link custom metadata type. This object stores many settings used throughout the Flow: 
send confirmation email, 
email error recipient (person who gets emailed when there is an error), 
type-in email address, 
1 click opt out,
text used in the screens.
Find only the one called Unsubscribe. The other custom metadata types are for testing.</description>
        <name>Get_custom_metadata</name>
        <label>Get custom metadata</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CMDT_Record_Found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Something_went_wrong_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unsubscribe</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unsubscribe_Link__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Look for a lead record with ID passed into the flow. Assign the email address to an email variable and the ID to a text variable called FoundId that is passed to other flows.</description>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_Record_Found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorMessageAssignment1</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>confirmation screen for person to confirm they want to unsubscribe. Update &quot;our organization&quot; in the custom metadata type &quot;Unsubscribe Link.&quot;</description>
        <name>Are_you_sure</name>
        <label>Are you sure</label>
        <locationX>930</locationX>
        <locationY>1022</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Unsubscribe_Record</targetReference>
        </connector>
        <fields>
            <name>confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;{!Get_custom_metadata.Screen_1_Part_1__c} {!Email} {!Get_custom_metadata.Screen_1_Part_2__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenConfirmationEmail</name>
        <label>screenConfirmationEmail</label>
        <locationX>578</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>confirmationScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!Get_custom_metadata.Screen_2_Part_1__c} {!Get_custom_metadata.Screen_2_Part_2__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenConfirmationNoEmail</name>
        <label>screenConfirmationNoEmail</label>
        <locationX>1106</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>confirmationScreenNoEmail</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!Get_custom_metadata.Screen_2_Part_1__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Generic error message</description>
        <name>Something_went_wrong_0_0_0</name>
        <label>Generic Error Message</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>wentwrong_0_0_0</name>
            <fieldText>&lt;p&gt;Sorry, but we were not able to unsubscribe you at this time, but we have been alerted about the problem.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Something_went_wrong_0_0_0_0</name>
        <label>No CMDT Found</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ErrorMessageAssignment1_0</targetReference>
        </connector>
        <fields>
            <name>wentwrong_0_0_0_0</name>
            <fieldText>&lt;p&gt;Sorry, but we were not able to unsubscribe you at this time, but we have been alerted about the problem.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_custom_metadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Blank_Values_Flow</name>
        <label>Blank Values Flow</label>
        <locationX>842</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Quick_UnsubscribeDecision</targetReference>
        </connector>
        <flowName>recordIdBlankFlow</flowName>
        <inputAssignments>
            <name>Email</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorRecipient</name>
            <value>
                <elementReference>Get_custom_metadata.Error_Email_Recipients__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ourOrganization</name>
            <value>
                <elementReference>Get_custom_metadata.Screen_3__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Email</assignToReference>
            <name>Email</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundId</assignToReference>
            <name>FoundId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Launch this additional flow to find all contacts who have this email address and mark them as email opt out.</description>
        <name>Unsubscribe_Contacts</name>
        <label>Unsubscribe Contacts</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Unsubscribe_Leads</targetReference>
        </connector>
        <flowName>Unsubscribe_Contacts</flowName>
        <inputAssignments>
            <name>Email</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorRecipient</name>
            <value>
                <elementReference>ErrorRecipient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UnsubscribeRecord</name>
            <value>
                <elementReference>UnsubscribeId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>getCListSize</assignToReference>
            <name>getCListSize</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Part of the unmanaged packed Unsubscribe Link from Salesforce Labs and loops through all leads with a particular email address to mark them as email opt out. This flow is launched by the flow Unsubscribe Link.</description>
        <name>Unsubscribe_Leads</name>
        <label>Unsubscribe Leads</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Send_Confirmation_Email</targetReference>
        </connector>
        <flowName>Unsubscribe_Leads</flowName>
        <inputAssignments>
            <name>Email</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorRecipient</name>
            <value>
                <elementReference>ErrorRecipient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UnsubscribeRecord</name>
            <value>
                <elementReference>UnsubscribeId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>lListsize</assignToReference>
            <name>lListSize</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>alertEmailMultipleRecords</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;There were more than one records found for the email address &lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Email}&lt;/strong&gt;. The Campaign Preference Center package from AppExchange did not update the campaign preferences for all of them - only the oldest created record.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;About this email: It comes from the flow Unsubscribe Link. To turn it off, remove the Action: Alert of Multiple Records. &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Email sent to administrator(s) when the Flow experiences an error.</description>
        <name>errorBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Alert: there was an error in running the Flow Unsubscribe Link Record Only or Unsubscribe_Link_IdOnly Record Only. This flow is a modified version of the unmanaged package Unsubscribe Link from the AppExchange.  https://wp.me/p9qPLI-eU.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!errorTextVar}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Here are the variables that were input from the link in the email. &lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;recordId (the id passed in the URL)= {!varRecId}. &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;To modify this error email, open the Flow and edit the text template called &lt;strong&gt;errorBody&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To modify who receives this email, open the custom metadata type called Unsubscribe Link and the record with Label of &quot;Unsubscribe.&quot; Change the value in &lt;strong&gt;Error Email Recipients. &lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>This is the confirmation email that will be sent out after the flow runs if you have said yes you want a confirmation email in the custom metadata type called &quot;Unsubscribe Link.&quot; This email is for people who updated their campaign preferences.</description>
        <name>UnsubscribeEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Get_custom_metadata.Confirmation_Email_Text__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>contactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>count1 if the record has already been through this part of the flow</description>
        <name>countVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Update default below to user who should be alerted when this error occurs.</description>
        <name>ErrorRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Error message to send to error email recipient.</description>
        <name>errorTextVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error in your custom metadata type of Unsubscribe_cmdt. Needs a label of Unsubscribe. </stringValue>
        </value>
    </variables>
    <variables>
        <name>FoundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>getCListSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>inputVariables</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Lead list size</description>
        <name>lListsize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numberOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numberOfLeads</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>collection of records updated in the process</description>
        <name>RecordsUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Unsubscribe record variable to send to subflows.</description>
        <name>UnsubscribeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Unsubscribe__c</objectType>
    </variables>
    <variables>
        <description>custom metadata type record &quot;Unsubscribe Link&quot;</description>
        <name>varOurOrganization</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unsubscribe_Link__mdt</objectType>
    </variables>
    <variables>
        <description>userId incoming from the email link</description>
        <name>varRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
