force-app/main/default/flows/Unsubscribe_Link_Setup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contact_Batch</name>
        <label>Contact Batch</label>
        <locationX>1770</locationX>
        <locationY>2265</locationY>
        <actionName>UUIDBatchInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>completeScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Public_Id__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>linkText</name>
            <value>
                <elementReference>LinkText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <nameSegment>UUIDBatchInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Assign selections made on previous screens</description>
        <name>Assign_Modified_Value</name>
        <label>Assign Modified Value</label>
        <locationX>1703</locationX>
        <locationY>1901</locationY>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Screen_1_Part_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ModifyScreen1Part2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Screen_2_Part_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ModifyScreen2Part1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Screen_2_Part_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ModifyScreen2Part2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Screen_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ModifyScreen3Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Screen_1_Part_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ModifyScreen1Part1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Link_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LinkText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Site_Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_My_Domain.Domain.Domain</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Confirmation_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnableOneClick</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getULSetup.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to the default if this is their first time creating a record.</description>
        <name>Default_AssignValues</name>
        <label>DEFAULT Assign Values</label>
        <locationX>1227</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Screen_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_Screen3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Confirmation_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Enable_Type_in_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Confirmation_Email_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>text_DefaultConfirmationEmailText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Screen_1_Part_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To unsubscribe</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Screen_1_Part_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen1part2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Screen_2_Part_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_screen2Part1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Screen_2_Part_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You can expect a confirmation email shortly.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Error_Email_Recipient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Our_Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalOrgName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Link_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Click here to unsubscribe. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Up_Unsubscribe_Link_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to the final variable if this is their second or later time filling this out.</description>
        <name>EXISTINGAssignValues</name>
        <label>EXISTING Assign Values</label>
        <locationX>1526</locationX>
        <locationY>663</locationY>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Screen_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getULSetup.Screen_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Confirmation_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getULSetup.Confirmation_Page__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Enable_Type_in_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getULSetup.Enable_Type_in_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Confirmation_Email_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getULSetup.Confirmation_Email_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Screen_1_Part_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getULSetup.Screen_1_Part_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Our_Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getULSetup.Our_Organization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Screen_1_Part_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getULSetup.Screen_1_Part_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Screen_2_Part_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getULSetup.Screen_2_Part_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Screen_2_Part_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getULSetup.Screen_2_Part_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Link_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getULSetup.Link_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Error_Email_Recipient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getULSetup.Error_Email_Recipient__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Send_Confirmation_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getULSetup.Send_Confirmation_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Org_Wide_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getULSetup.Org_Wide_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Up_Unsubscribe_Link_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to the final variable based on answers to the initial screen.</description>
        <name>UpdateFinalValues</name>
        <label>UpdateFinalValues</label>
        <locationX>1831</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Confirmation_Email_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfirmEmailText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Org_Wide_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrgWideEmailQ</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Send_Confirmation_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>confirmEmailQ</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalRecord.Enable_Type_in_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>type_in_unsubscribe</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailModifyScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Confirmation_EmailSend</name>
        <label>Send Confirmation Email?</label>
        <locationX>1703</locationX>
        <locationY>1346</locationY>
        <defaultConnector>
            <targetReference>Get_Experience_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmEmailQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationEmailPreviewScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does a setup record exist already</description>
        <name>ExistingRecordSameName_0</name>
        <label>Setup Record Exists?</label>
        <locationX>1527</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>CompanyName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No record</defaultConnectorLabel>
        <rules>
            <name>RecordExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getULSetup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EXISTINGAssignValues</targetReference>
            </connector>
            <label>Record exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>IncludeScreen3Decision</name>
        <label>Include Email Type In Screen</label>
        <locationX>1703</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>Confirmation_EmailSend</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Confirmation Screen</defaultConnectorLabel>
        <rules>
            <name>IncludeScreen3Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type_in_unsubscribe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen3PreviewScreen</targetReference>
            </connector>
            <label>Include Confirmation Screen</label>
        </rules>
    </decisions>
    <description>New contact batch to pass in the link text. Make sure the create records looks for duplicates!</description>
    <dynamicChoiceSets>
        <name>orgWideEmails</name>
        <dataType>String</dataType>
        <displayField>DisplayName</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>IsVerified</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultNoreply</stringValue>
            </value>
        </filters>
        <filters>
            <field>Purpose</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UserSelectionAndDefaultNoReply</stringValue>
            </value>
        </filters>
        <object>OrgWideEmailAddress</object>
        <outputAssignments>
            <assignToReference>varT_OrgWideEmailDisplayName</assignToReference>
            <field>DisplayName</field>
        </outputAssignments>
        <valueField>Address</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Use currentUser or existing CMDT type value</description>
        <name>currentUserOrExisting</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!getULSetup.Error_Email_Recipient__c}),{!$User.Email},
{!getULSetup.Error_Email_Recipient__c})</expression>
    </formulas>
    <formulas>
        <description>The question asks &quot;Do you want to include this confirmation page?&quot; The field says &quot;do you want to enable one click?&quot; so the answers need to be reversed.</description>
        <name>EnableOneClickFormula</name>
        <dataType>String</dataType>
        <expression>IF({!EnableOneClick}=&apos;Yes&apos;, &apos;No&apos;, &apos;Yes&apos;)</expression>
    </formulas>
    <formulas>
        <name>frm_screen2part2</name>
        <dataType>String</dataType>
        <expression>IF({!confirmEmailQ}=&apos;Yes&apos;, {!var_FinalRecord.Screen_2_Part_2__c},&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Unsubscribe Link Setup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unsubscribe Link Setup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the UL record.</description>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>1558</locationX>
        <locationY>2015</locationY>
        <connector>
            <targetReference>Create_Public_Ids</targetReference>
        </connector>
        <inputReference>var_FinalRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Collect Experience Site informations</description>
        <name>Get_Experience_Site</name>
        <label>Get Experience Site</label>
        <locationX>1703</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_My_Domain</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Collect URL from Experience Site</description>
        <name>Get_My_Domain</name>
        <label>Get My Domain</label>
        <locationX>1702</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Modified_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SiteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Experience_Site.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DomainSite</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getULSetup</name>
        <label>getULSetup</label>
        <locationX>1505</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistingRecordSameName_0</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unsubscribe_Link_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CompanyName</name>
        <label>CompanyName</label>
        <locationX>1227</locationX>
        <locationY>422</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Default_AssignValues</targetReference>
        </connector>
        <fields>
            <name>CompanyName_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CompanyName_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinalOrgName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$Organization.Name</elementReference>
                    </defaultValue>
                    <fieldText>What is your organization or company name?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CompanyName_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>completeScreen</name>
        <label>completeScreen</label>
        <locationX>1703</locationX>
        <locationY>2402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DonedisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;You are done!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmationEmailPreviewScreen</name>
        <label>Email Confirmation Preview Screen</label>
        <locationX>1571</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Experience_Site</targetReference>
        </connector>
        <fields>
            <name>confirmationEmailDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;PREVIEW&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;The email recipient receives an email. &lt;/em&gt;&lt;/p&gt;&lt;p&gt;{!horizontalLine1}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;From: {!varT_OrgWideEmailDisplayName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Email body: {!ConfirmEmailText}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Public_Ids</name>
        <label>Create Public Ids</label>
        <locationX>1703</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_Batch</targetReference>
        </connector>
        <fields>
            <name>displayPublicIds</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Great! That part is done.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Last step&lt;/span&gt;&lt;/p&gt;&lt;p&gt;The Unsubscribe Link uses a 64 digit random id on each contact and lead, called Public_Id__c.&lt;/p&gt;&lt;p&gt;This may take a little while. You will receive an email when it is done.&lt;/p&gt;&lt;p&gt;After this, two record triggered flows will automatically create public ids when new contacts and leads are created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Click next to populate the public ids on all your records now.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>A preview of the email with the option to modify the text of the link</description>
        <name>EmailModifyScreen</name>
        <label>Screen Email Preview</label>
        <locationX>2021</locationX>
        <locationY>696</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen1Preview</targetReference>
        </connector>
        <fields>
            <name>SampleEmailDisplayText_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;u&gt;﻿&lt;/u&gt;PREVIEW&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Your email recipient gets an email like this with an unsubscribe link at the bottom. &lt;/em&gt;&lt;/p&gt;&lt;p&gt;{!horizontalLine1}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Dear Friend,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;It&apos;s Thursday! You love to order a pizza on Thursdays! If you order before 5, I&apos;ll also throw in some free drinks!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Your friend,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Bob&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;color: rgb(2, 54, 244); font-size: 20px;&quot;&gt;{!var_FinalRecord.Link_Text__c}&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayTextforHorizontalLine</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!horizontalLine1}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LinkText</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_FinalRecord.Link_Text__c</elementReference>
            </defaultValue>
            <fieldText>You may modify the text of the link here:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Give the option to have a confirmation screen before Opt Out, but this is not recommended.</description>
        <name>Screen1Preview</name>
        <label>Screen 1 Preview</label>
        <locationX>2039</locationX>
        <locationY>847</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen2PreviewScreen_0</targetReference>
        </connector>
        <fields>
            <name>Screen1PreviewDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;PREVIEW&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;This page allows the recipient to confirm before opting out. &lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!horizontalLine1}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!var_FinalRecord.Screen_1_Part_1__c} georgeB@bbbl.org &lt;/span&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!var_FinalRecord.Screen_1_Part_2__c} &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>googlewarning</name>
            <fieldText>&lt;p&gt;{!horizontalLine1}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://blog.google/products/gmail/gmail-security-authentication-spam-protection/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; font-size: 14px;&quot;&gt;Gmail wants you to make it easier to unsubscribe&lt;/a&gt;&lt;span style=&quot;background-color: transparent; font-size: 14px;&quot;&gt; with &quot;one click&quot; email opt-out so we advise against adding in this page. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen1Preview_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1Preview_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EnableOneClick</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getULSetup.Confirmation_Page__c</elementReference>
                    </defaultValue>
                    <fieldText>Do you want to include this confirmation page?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1Preview_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1Preview_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen1Preview_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1Preview_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ModifyScreen1Part1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_FinalRecord.Screen_1_Part_1__c</elementReference>
                    </defaultValue>
                    <fieldText>You may modify the text of part 1 here:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1Preview_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ModifyScreen1Part2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_FinalRecord.Screen_1_Part_2__c</elementReference>
                    </defaultValue>
                    <fieldText>You may modify the text of part 2 here:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1Preview_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EnableOneClick</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This screen will display the confirmation message you want the user to see</description>
        <name>Screen2PreviewScreen_0</name>
        <label>Screen 2</label>
        <locationX>1885</locationX>
        <locationY>973</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IncludeScreen3Decision</targetReference>
        </connector>
        <fields>
            <name>screen2previewDisplayText_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;PREVIEW&lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!horizontalLine1}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;{!var_FinalRecord.Screen_2_Part_1__c} {!frm_screen2part2}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayTextHozLine</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!horizontalLine1}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen2PreviewScreen_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen2PreviewScreen_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ModifyScreen2Part1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_FinalRecord.Screen_2_Part_1__c</elementReference>
                    </defaultValue>
                    <fieldText>You may modify the text here:</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Example text: You have successfully unsubscribed from all email from &amp;lt;insert company name here&amp;gt;.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen2PreviewScreen_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ModifyScreen2Part2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_FinalRecord.Screen_2_Part_2__c</elementReference>
                    </defaultValue>
                    <fieldText>You may modify the text of part 2 here. It only appears if you turn on the confirmation email.</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Example text: You will get a confirmation email shortly.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>confirmEmailQ</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This is an optional screen to allow user to enter their email if not found in the database.</description>
        <name>Screen3PreviewScreen</name>
        <label>Screen 3</label>
        <locationX>1573</locationX>
        <locationY>1153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_EmailSend</targetReference>
        </connector>
        <fields>
            <name>screen3previewDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;PREVIEW&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;If the email recipient&apos;s ID was not found, they can enter their email address here. You can turn off this feature. &lt;/em&gt;&lt;/p&gt;&lt;p&gt;{!horizontalLine1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen3PreviewScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen3PreviewScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen3preview</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!txt_Screen3}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen3PreviewScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RecipientEntersEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>hozline</name>
            <fieldText>&lt;p&gt;{!horizontalLine1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ModifyScreen3Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>txt_Screen3</elementReference>
            </defaultValue>
            <fieldText>You can modify the text here:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Select informations to set up the unsubscribe link</description>
        <name>Set_Up_Unsubscribe_Link_0</name>
        <label>InitialSetUp</label>
        <locationX>1415</locationX>
        <locationY>879</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateFinalValues</targetReference>
        </connector>
        <fields>
            <name>Set_Up_Unsubscribe_Link_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Up_Unsubscribe_Link_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Company_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_FinalRecord.Our_Organization__c</elementReference>
                    </defaultValue>
                    <fieldText>Company Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RecordExists</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>confirmEmailQ</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_FinalRecord.Send_Confirmation_Email__c</elementReference>
                    </defaultValue>
                    <fieldText>Do you want to send a confirmation email immediately after the email recipient opts out?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ConfirmEmailText</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_FinalRecord.Confirmation_Email_Text__c</elementReference>
                    </defaultValue>
                    <fieldText>What should the email say?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Example text: You have successfully unsubscribed from all email from &amp;lt;insert company name&amp;gt;.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>confirmEmailQ</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OrgWideEmailQ</name>
                    <choiceReferences>orgWideEmails</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_FinalRecord.Org_Wide_Email_Address__c</elementReference>
                    </defaultValue>
                    <fieldText>Choose the organization wide email address that this email will appear to be from.</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>confirmEmailQ</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>orgwideEmailMoreInfo</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://help.salesforce.com/articleView?id=sf.emailadmin_manage_orgwide_email_addresses.htm&amp;amp;type=5&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; color: rgb(17, 85, 204); font-size: 11px;&quot;&gt;&lt;u&gt;Here&apos;s how to set up an org wide email address&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;background-color: transparent; font-size: 11px;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>confirmEmailQ</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Up_Unsubscribe_Link_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OneClickdisplaytext</name>
            <fieldText>&lt;p&gt;{!horizontalLine1}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: transparent;&quot;&gt;The unsubscribe link passes the contact or lead&apos;s Salesforce id to a flow. Sometimes an email recipient&apos;s security settings block or scramble the ID. You can allow your recipients to type in their email addresses to unsubscribe in that situation. BE CAREFUL! This allows anyone who has the link and knows any email addresses in your database to unsubscribe them. For example, if a bad guy knows that joeschmoe@ymail.com loves your newsletters and that bad guy dislikes your organization, then he could potentially unsubscribe Joe Schmoe from your newsletter!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Set_Up_Unsubscribe_Link_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Up_Unsubscribe_Link_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>type_in_unsubscribe</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_FinalRecord.Enable_Type_in_Email_Address__c</elementReference>
                    </defaultValue>
                    <fieldText>Allow recipient to type in email</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Up_Unsubscribe_Link_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>GetReadytoPreviewDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;{!horizontalLine1}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Click &lt;/span&gt;&lt;em style=&quot;font-size: 18px;&quot;&gt;Preview&lt;/em&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; to see the unsubscribe process from the email recipient&apos;s perspective.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Preview</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1379</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getULSetup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>horizontalLine1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;hr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>questionChangeOrgName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Would you like to change &quot;{!varT_OrgName}&quot;?</text>
    </textTemplates>
    <textTemplates>
        <name>screen1part2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>from all further email from {!FinalOrgName}, click NEXT.</text>
    </textTemplates>
    <textTemplates>
        <name>text_DefaultConfirmationEmailText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have successfully unsubscribed from all email from {!FinalOrgName}.</text>
    </textTemplates>
    <textTemplates>
        <name>txt_screen2Part1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have successfully unsubscribed from all email from {!FinalOrgName}.</text>
    </textTemplates>
    <textTemplates>
        <name>txt_Screen3</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>To unsubscribe from all email from {!var_FinalRecord.Our_Organization__c}, enter your email address and click NEXT.</text>
    </textTemplates>
    <variables>
        <description>This record will hold default values for the fields for the initial time through. After the initial set up, the actual values will be used.</description>
        <name>var_defaultRecordValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unsubscribe_Link_Setup__c</objectType>
    </variables>
    <variables>
        <description>Assign this the values of the final record that will be updated.</description>
        <name>var_FinalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unsubscribe_Link_Setup__c</objectType>
    </variables>
    <variables>
        <name>varT_OrgName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_OrgWideEmailDisplayName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
